
<template name="Tezler">

  <h1>Tüm Tezler (Tez Sayısı: {{count}})</h1>
  <div class = "jumbotron">
  <div class="row" style = "margin-top : 30px">
    <div class="col-lg-3">
    <div class="input-group">
        <input type="text" id="title" placeholder = "Başlığı" class="form-control">
        <input type="text" id="author" placeholder = "Yazarı" class="form-control">
        <input type="text" id="supervisor" placeholder = "Danışman" class="form-control">
        <input type="text" id="year" placeholder = "Yılı" class="form-control">
        <input type="type" id="type" placeholder = "Tez Tipi (YL veya DR)" class="form-control">
        <button id="tezEkle" class="btn btn-primary pull-right" type="button" style = "margin-bottom : 20px">Tez Ekle</button>
    </div><!-- /input-group -->

    </div><!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="posts">
      {{#each tezler}}
          {{> tez}}
      {{/each}}
      </div>
    </div>
  </div><!-- /.row -->
  </div>



</template>

